<div class="header">
  <h2 matDialogTitle>{{TITLE}}</h2>

  <div class="login-button">
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>

  <div align="center"><i style="color: aliceblue" class="fa fa-users fa-2x" aria-hidden="true"></i></div>
    <a class="tab-link" routerLink="/questionnaire-id" routerLinkActive="active">Questionnaire</a>
    <a class="tab-link" routerLink="" routerLinkActive="active">History</a>
    <a class="tab-link" [routerLink]="['/recommend-parental']" routerLinkActive="active">Recommendations</a>
    <a class="tab-link" routerLink="/tracker" routerLinkActive="active">Tracking</a>
</div>
