<admin-header></admin-header>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container color-button">
        <button  routerLink='/admin/fooditem' type="submit" class="btn btn-success col-3">Add Food Item</button>
</div>
<div class="container mt-3">
    <table class="table table-bordered table-inverse ">
        <tr>
            <th> Food item name</th>
            <th> Primary</th>
        </tr>
        <tr *ngFor="let item of foodNutrients">
            <td>
                <a [routerLink]="['/admin/fooditem', item.fooditem.id]">{{item.fooditem.name}}</a>
            </td>
            <td>{{item.fooditem.primary}}</td>
        </tr>
    </table>
</div>