<admin-header></admin-header>
<div class="container_page">
    <div class="container  mt-3" align="right">
        <button  routerLink='/admin/fooditem/new' type="submit" class="btn btn-primary col-3">Add Food Item</button>
    </div>
    <div class="container mt-3">
        <table class="table table-bordered table-inverse ">
        <tr>
            <th> Food Item Name</th>
            <th> Delete </th>
        </tr>
        <tr *ngFor="let item of foodNutrients">
            <td>
                <a [routerLink]="['/admin/fooditem', item.foodItem.id]">{{item.foodItem.name}}</a>
            </td>
            <td><div align="center"><a (click)="onModalRequest()"><span class="fa fa-trash"></span></a></div></td>
        </tr>
        </table>
    </div>
</div>
