<admin-header></admin-header>

<form #myForm="ngForm">
  <div class="form-group">
    <div class="container_page" *ngIf="dataLoaded">
      <div class="container" style="margin-top: 15px;"><a routerLink="/admin/users"><span
            class="fa fa-chevron-circle-left"></span> Back to Users </a></div>

      <!-- Update user starts here -->    

      <div *ngIf="isUpdate" class="container mt-3">
        <div align="right">  
          <button type="submit" class="btn btn-primary col-3 margin" (click)="updateFoodNutrients()"
            [disabled]="!myForm.form.valid"> Update User </button>
        </div>
        <div class="container frame-fooditem">
          <h6> Update User </h6>
          <div class="form-group col-12">
            <label style="font-weight: bold"> Account Type </label>
            <br>  
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="parent" [checked]="isParent" color="primary" [disabled]="true">Parent</mat-radio-button>
              <br>
              <mat-radio-button value="clinician" [checked]="isClinician" color="primary"  [disabled]="true">Clinician</mat-radio-button>
            </mat-radio-group>

            <br>
            <label style="font-weight: bold"> Username </label>
            <input style="border-color: gray; border-width: 0.05cm" type="text"
                class="form-control" readonly name="username" [(ngModel)]="userAttributes[0].username">
            <br>
            <label style="font-weight: bold">Choose Clinic to assign to:</label>
              <br>
              <mat-form-field>
                <mat-label appearance="fill">Choose Clinic...</mat-label>
                <mat-select matNativeControl [(value)]="clinicNames[userAttributes[0].assignedClinic - 1]" required>
                  <mat-option *ngFor="let c of ffqclinicList" [value]="c.clinicname">{{ c.clinicname }}</mat-option>
                </mat-select>
              </mat-form-field>

          </div>
        </div>

      </div>

      <!-- Update user ends here -->

      <!-- Add user starts here -->

      <div *ngIf="isNew" class="container mt-3">
        <div align="right">
          <button type="submit" class="btn btn-primary col-3 margin" (click)="addUser()"
            [disabled]="!myForm.form.valid"> Add User(s) </button>
        </div>

        <div class="container frame-fooditem">
          <h6> New User(s) </h6>
  
          <div class="form-group col-12">
            <label style="font-weight: bold"> Account Type </label>
            <br>  
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="parent" (change)="changeToParent($event)" color="primary">Parent</mat-radio-button>
              <br>
              <mat-radio-button value="clinician" (change)="changeToClinician($event)" color="primary">Clinician</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Create Parent starts here -->

          <div class="optional_container" *ngIf="createParents">
            <div class="form-group col-12">
              <hr>
              <label style="font-weight: bold"> Amount </label><label style="font-style: italic; font-size: small; margin-left: 10px"> *required </label>
              <input placeholder="Amount of Parents (1 - 100)" width="25" style="border-color: mediumblue; border-width: 0.05cm" type="text"
                class="form-control" name="amountToAdd" [(ngModel)]="amountToAdd" required #nameField="ngModel" />
                <br>
                <label style="margin-left: 10px">Choose Clinic to assign to:</label>
                <br>
                <mat-form-field>
                  <mat-label appearance="fill">Choose Clinic...</mat-label>
                  <mat-select matNativeControl [(ngModel)]="this.selectedClinic" required>
                    <mat-option *ngFor="let c of ffqclinicList" [value]="c.clinicname" >{{ c.clinicname }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <h1>{{selectedClinic}}</h1>
  
            </div>
          </div>

          <!-- Create Parent ends here -->

          <!-- Create Clinician starts here -->
  
          <div class="optional_container" *ngIf="createClinician">
            <div class="form-group col-12">
              <hr>
              <label style="font-weight: bold">Choose Clinic to assign to:</label><label style="font-style: italic; font-size: small; margin-left: 10px"> *required </label>
              <br>
              <mat-form-field>
                <mat-label appearance="fill">Choose Clinic...</mat-label>
                <mat-select matNativeControl required>
                  <mat-option *ngFor="let c of ffqclinicList" [value]="c.clinicname">{{ c.clinicname }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
          </div>

          <!-- Create Clinician ends here -->

      </div>

      <!-- Add user ends here -->
      
      

        
      </div>
    </div>
  </div>
</form>