<div class="container">
  <h2 matDialogTitle>Food Description</h2>
  <mat-dialog-content>
    <div class="tableDiv">
      <table *ngFor="let result of foodGroup">
        <tr>
          <th style="text-align: left"> Food Group Image </th>
          <th style="text-align: center"> Food Item Group</th>
          <th style="text-align: center"> (Oz) Per Day </th>
          <th style="text-align: center"> Description </th>
        </tr>
        <tr *ngFor="let food of result.foodGroup">
          <td>
            <img [src]='food.imageUrl'
              [title]='food.foodItemGroupName'
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'>
          </td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="dialog-button" mat-raised-button matDialogClose="cancel" color="primary">Ok</button>
  </mat-dialog-actions>
</div>
