<clinical-header></clinical-header>

<div class="container_page">
    <div class="container mt-3">
        <h4>{{TITLE}}</h4>
        <div class="buttons">
            <mat-checkbox [checked]="true" (change)="toggleClinicians($event)" style="margin-right: 20px;"> Clinicians </mat-checkbox>
            <mat-checkbox [checked]="true" (change)="toggleParents($event)"> Parents </mat-checkbox>
        </div>
        <br>

        <!-- Clinicians starts here -->

        <div *ngIf="showClinicians">
            <label style="font-weight:bold"> Clinicians </label>

            <!--<div>
                <mat-checkbox (change)="selectAllClinicians($event)"> Select All Clinicians </mat-checkbox>
                <span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>
                <button style="font-family: Roboto"><i class="fa fa-trash"></i> Delete </button>
            </div>-->
            <div style="width: 100%; white-space:nowrap; overflow-x: auto; margin-bottom: 15px;">
                <input style="width: 25%; display: inline-block;  margin-left: 5px;" placeholder="Search..." type="text" class="form-control"
                  name="c_search" [(ngModel)]="c_search"/>
                <span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>
                <mat-checkbox (change)="toggleUnassignedClinicians($event)"> Hide All Unassigned </mat-checkbox>
            </div>
            
            <table class="table table-bordered table-inverse">
                <tr>
                    <!--<th width="5%"> Select </th>-->
                    <th width="30%"> Username </th>
                    <th width="11.5%"> Role / Abbrev. </th>
                    <th width="43.5%"> Name </th>
                    <th width="15%"> No. of Patients </th>
                </tr>
                <tr *ngFor="let u of ffqclinicianList | searchFilter: c_search" [hidden]="hideUnassignedClinicians && (!u.firstname || !u.lastname)">
                    <!--<td align="center"><mat-checkbox [checked]="toggleAllClinicians"></mat-checkbox></td>-->
                    <td><a [routerLink]="['/clinic/user/c', u.clinicianId]"> {{ u.username }} </a></td>
                    <td> {{ u.role }} </td>
                    <td> {{ u.firstname }} {{ u.lastname }}</td>
                    <td> {{ (ffqparentList | patientFilter: u.username).length }} </td>
                </tr>
            </table>
        </div>
        <!-- Clinicians ends here -->

        <div *ngIf="showClinicians && showParents"><hr></div>

        <!-- Parents starts here -->

        <div *ngIf="showParents">
            <label style="font-weight:bold"> Parents </label>

            <div style="width: 100%; white-space:nowrap; overflow-x: auto">
                <!--<mat-checkbox (change)="selectAllParents($event)"> Select All Parents </mat-checkbox>-->
                <input style="width: 25%; display: inline-block;  margin-left: 5px;" placeholder="Search..." type="text" class="form-control"
                    name="p_search" [(ngModel)]="p_search"/>
                <span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>
                <mat-checkbox (change)="toggleUnassignedParents($event)"> Hide All Unassigned </mat-checkbox>
                <span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>
                <!--<mat-form-field>
                    <mat-label appearance="fill">Assign to Clinician...</mat-label>
                    <mat-select matNativeControl>
                      <mat-option *ngFor="let u of ffqclinicianList">{{u.role}} {{u.firstname }} {{ u.lastname }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button style="font-family: Roboto; margin-left: 10px;"> OK </button>
                <span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>-->
                <mat-form-field>
                    <mat-label appearance="fill">Filter by Clinician...</mat-label>
                    <mat-select matNativeControl multiple>
                      <mat-option *ngFor="let u of ffqclinicianList" (click)="filterByClinician(u.role + ' ' + u.firstname + ' ' + u.lastname)">{{ u.role }} {{ u.firstname }} {{ u.lastname }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--<span style="color:gray; margin-left: 20px; margin-right: 20px; font-size: x-large;"> | </span>
                <button style="font-family: Roboto"><i class="fa fa-trash"></i> Delete </button>-->
            </div>

            <table class="table table-bordered table-inverse">
                <tr>
                    <!--<th width="5%"> Select </th>-->
                    <th width="30%"> Username </th>
                    <th width="37.5%"> Parent Name </th>
                    <th width="15%"> No. of Children </th>
                    <th width="17.5%"> Assigned Clinician </th>
                </tr>
                <tr *ngFor="let u of ffqparentList| searchFilter: p_search; index as i" [hidden]="hideUnassignedParents && !clinicianNames[i] || (filtered && filtered_clinicians.indexOf(clinicianNames[i]) === -1)">
                    <!--<td align="center"><mat-checkbox [checked]="toggleAllParents"></mat-checkbox></td>-->
                    <td><a [routerLink]="['/clinic/user/p', u.parentId]"> {{ u.username }} </a></td>
                    <td> {{ u.firstname }} {{ u.lastname }}</td>
                    <td> </td>
                    <td> {{ clinicianNames[i] }}</td>
                </tr>
            </table>

        </div>

        <!-- Parents ends here -->

	</div>
</div>