<div class="container">
  <h2 matDialogTitle>Food Recommendations</h2>
  <mat-dialog-content>
    <div class="tableDiv">
      <table *ngFor="let result of recommendedNutrients">
        <tr>
          <th> Food Item </th>
          <th> Calculations </th>
          <th> Recommended intake </th>
          <th> Indicator</th>
        </tr>
        <tr *ngFor="let nutrient of result.recommendationsList">
          <td>{{nutrient.nutrientName}}</td>
          <td style="text-align: center">{{nutrient.calculatedAmount| number: '1.2-2'}}</td>
          <td style="text-align: center">{{nutrient.recommendedAmount| number: '1.1-1'}}</td>
          <td
            [ngClass]="{'below': nutrient.calculatedAmount < nutrient.recommendedAmount, 'above': nutrient.calculatedAmount > nutrient.recommendedAmount, 'normal': nutrient.calculatedAmount == nutrient.recommendedAmount }"
            style="text-align: center">{{nutrient.status}}</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="dialog-button" mat-raised-button matDialogClose="cancel" color="primary">Ok</button>
  </mat-dialog-actions>
</div>