<div class="container">
  <h2 matDialogTitle>Food Recommendations</h2>
  <mat-dialog-content>
    <div class="tableDiv">
      <table *ngFor="let result of recommendedFood">
        <tr>
          <th> Food Item </th>
          <th style="text-align: center"> From (Oz) </th>
          <th style="text-align: center">  To (Oz) </th>
          <th style="text-align: center"> Label </th>
          <th> Calculated Amount (Oz) </th>
        </tr>
        <tr *ngFor="let food of result.foodCategoryRecList">
          <td>{{food.categoryName}}</td>
          <td  [ngClass]="{'concat': food.rangeTo ===1000000.00}"style="text-align: center">{{food.rangeFrom| number: '1.1-1'}}</td>
          <td  [ngClass]="{'cover': food.rangeTo ===1000000.00}" style="text-align: center">{{food.rangeTo| number: '1.1-1'}}</td>
          <td style="text-align: center">{{food.label}}</td>
          <td style="text-align: center">{{food.calculatedAmount | number: '1.2-2'}}</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="dialog-button" mat-raised-button matDialogClose="cancel" color="primary">Ok</button>
  </mat-dialog-actions>
</div>