.tracker-container {
    padding-top: 140px;
    margin-bottom: 50px;
}

.trackeritem-container {
    display: flex;
    justify-content: center;
  }
  
.tracker-card {
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
}

.top{
    color: #ff6f69;
}
.med{
    color: #96ceb4;
}
.bot{
    color: #ffcc5c;
}