<app-parental-header></app-parental-header>

<div class="tracker-container">

  <div class="trackeritem-container">
    <mat-card class="tracker-card">
      <div><label><strong>N weeks</strong></label></div>
      <div style="float: left">
        <tr>Breastmilk – Formula – Cow’s Milk – Other</tr>
        <tr>Whole Grains</tr>
        <tr>Refined Grains</tr>
        <tr>Proteins</tr>
        <tr>Vegetables</tr>
        <tr>Fruits</tr>
        <tr>100% Juices</tr>
        <tr>Sugary Beverages</tr>
        <tr>Sweets</tr>
        <tr>Salty Snacks</tr>
      </div>
      <div style="float: right">
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
      </div>
    </mat-card>
  </div>

  <div class="trackeritem-container">
    <mat-card class="tracker-card">
      <div><label><strong>N+1 weeks</strong></label></div>
      <div style="float: left">
        <tr>Breastmilk – Formula – Cow’s Milk – Other</tr>
        <tr>Whole Grains</tr>
        <tr>Refined Grains</tr>
        <tr>Proteins</tr>
        <tr>Vegetables</tr>
        <tr>Fruits</tr>
        <tr>100% Juices</tr>
        <tr>Sugary Beverages</tr>
        <tr>Sweets</tr>
        <tr>Salty Snacks</tr>
      </div>
      <div style="float: right">
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
        <tr>Less</tr>
        <tr>Equal</tr>
        <tr>More</tr>
      </div>
    </mat-card>
  </div>


</div>