<app-parental-header></app-parental-header>

<div class="rec-container">
  <mat-card>
    <mat-radio-group aria-label="Select an option" value="1">
      <mat-radio-button (click)="showFirst()" value="1">0-5.9 Months</mat-radio-button>
      <mat-radio-button (click)="showSecond()" value="2">6-11.9 Months</mat-radio-button>
      <mat-radio-button (click)="showThird()" value="3">12-24 Months</mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card *ngFor="let result of results; let i = index">
    <div class="item-container">
      <img class="image" src="{{result.imageUrl}}">
      <div>
        <label><strong>{{result.foodItemGroupName}}</strong></label><br>
        <label><strong *ngIf="showBracketFirst">{{ result.firstBracketIntake }}</strong></label>
        <label><strong *ngIf="showBracketSecond">{{ result.secondBracketIntake }}</strong></label>
        <label><strong *ngIf="showBracketThird">{{ result.thirdBracketIntake }}</strong></label>
        <br>
        <label>
          {{result.description}}
        </label>
      </div>
    </div>
  </mat-card>

</div>
