<title>Clinician Portal</title>

<div class="header">
  <h2 matDialogTitle>Clinician Portal</h2>
  <div class="login-button">
    <button mat-raised-button (click)="logout()">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>
  <div align="center"><i style="color: white" class="fa fa-plus-square fa-3x" aria-hidden="true"></i></div>  
    <a class="tab-link" routerLink="/clinic/home" routerLinkActive="active">Home</a>
    <a class="tab-link" routerLink="/clinic/results" routerLinkActive="active">Questionnaire Results</a>
    <a class="tab-link" routerLink="/clinic/recommend" routerLinkActive="active">Recommendations</a>
    <a class="tab-link" routerLink="/clinic/tracker-history" routerLinkActive="active">Tracking History</a>  
</div>