h2 {
  text-align: center;
}
.questionnaire-footer {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.skip-foods-div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.skip-foods-button {
  margin-left: 10px;
  cursor: pointer;
}

.reenable-foods-button {
  background:none!important;
  color: indigo;
  border:none;
  padding:0!important;
  /*border is optional*/
  border-bottom:1px solid indigo;
  line-height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
