<app-parental-header></app-parental-header>

<div class="tracker-container">
  <!-- header message -->
  <h2 matDialogTitle>{{TITLE}}</h2><br>
  <text-card *ngIf="showItems" mainMessage="{{MAIN_MESSAGE}}" [bulletedMessages]="BULLETED_INSTRUCTIONS" [instructionsTitle]="INSTRUCTIONS_TITLE"></text-card>
  <br>

  <!-- age form -->
  <div *ngIf="showAgeForm" class="qb-container">
    <mat-card class="qb-card">
      <mat-label style="text-align:center" class="qb-row-item"><strong>Infant age</strong></mat-label>
      <mat-form-field>
        <input #ageValue matInput value="infantage"  class="qb-row-item" type="number" min="1" max="24"
          placeholder=" In months " autocomplete="off" required>
      </mat-form-field>
      <mat-card-actions>
        <div class="qb-button">
          <button mat-raised-button (click)="enterAge(ageValue.value)" color="primary">Enter Age</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <form *ngIf="showItems" [formGroup]="trackerForm" (ngSubmit)="submitTracker()">
    <!-- tracker cards -->
    <span formArrayName="responses">
      <div class="trackeritem-container" *ngFor="let result of foodResults; let $index = index" [formGroupName]="$index">
        <mat-card class="tracker-card">
          <div style="float: left">
            <label><strong>{{ result.foodItemGroupName }}</strong></label><br>
            <label *ngIf="showBracketFirst">{{ result.firstBracketIntake }}</label>
            <label *ngIf="showBracketSecond">{{ result.secondBracketIntake }}</label>
            <label *ngIf="showBracketThird">{{ result.thirdBracketIntake }}</label>
          </div>
          <div class="tracker-buttons">
            <mat-button-toggle-group formControlName="answer">
              <mat-button-toggle value="3"><mat-icon class="top">arrow_upward</mat-icon></mat-button-toggle>
              <mat-button-toggle value="2"><mat-icon class="med">check_box</mat-icon></mat-button-toggle>
              <mat-button-toggle value="1"><mat-icon class="bot">arrow_downward</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card>
      </div>
    </span>

    <!-- submit button -->
    <div class="footer">
      <button mat-raised-button color="primary">Submit</button>
    </div>

  </form>

</div>