<title>Login Page</title>

<div class="header">
    <h2 matDialogTitle>Login Page</h2>
    <div align="center"><i style="color: white" class="fa fa-shield fa-flip-horizontal fa-3x" aria-hidden="true"></i></div>  
    <a class="tab"></a>
    
  </div>

<!--<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://www.javainuse.com" class="navbar-brand">JavaInUse</a></div>
  
  <ul class="navbar-nav">
    <li><a  routerLink="/" class="nav-link">View Employees</a></li>
    <li><a  routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
  </ul>
  
  </nav>
  
  </header>
-->