<div class="container">
  <h2 matDialogTitle>Nutrients Recommendations</h2>
  <mat-dialog-content>
    <div class="tableDiv">
      <table *ngFor="let result of recommendedNutrients">
        <tr>
          <th>Nutrient name</th>
          <th>User input calculations</th>
          <th>Recommended value</th>
          <th style="text-align: center">Indicator</th>
        </tr>
        <tr *ngFor="let nutrient of result.recommendationsList">
          <td>{{nutrient.nutrientName}}</td>
          <td style="text-align: center">{{nutrient.calculatedAmount| number: '1.2-2'}}</td>
          <td style="text-align: center">{{nutrient.recommendedAmount| number: '1.1-1'}}</td>
          <td
            [ngClass]="{'below': nutrient.status==='Below', 'above':  nutrient.status==='Above', 'normal':  nutrient.status==='Normal (±10% Recommended Value)' }"
            style="text-align: center">{{nutrient.status}}</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="dialog-button" mat-raised-button matDialogClose="cancel" color="primary">Ok</button>
  </mat-dialog-actions>
</div>