.dialog-button {
    width: 20%;
}

.error-container {
    padding: 20px;
    margin-top: 8%!important;
    position: relative;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableDiv {
  padding: 1px;
}
.normal {
  color: green;
}

.below {
  color:red;
}

.above {
  color:rgb(133, 92, 5);
}

  