@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
